.steps > * {
    display: inline-block;
    position: relative;
    padding: 1em 2em 1em 3em;

    vertical-align: top;
    background-color: #ffffff;
    color: #888888;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.steps > *:after {
    position: absolute;
    z-index: 2;
    content: "";
    top: 0em;
    right: -1.45em;

    border-bottom: 1.5em solid transparent;
    border-left: 1.5em solid #ffffff;
    border-top: 1.5em solid transparent;

    width: 0em;
    height: 0em;
}

/*******************************
        Group
*******************************/
.steps {
    /*font-size: 0em;*/
    letter-spacing: -0.31em;
    line-height: 1;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

    -moz-border-radius: 0.3125rem;
    -webkit-border-radius: 0.3125rem;
    border-radius: 0.3125rem;
}

.steps > * {
    letter-spacing: normal;
    width: 150px;
    height: 43px; // i set the height from here
}

.steps > *:first-child {
    padding-left: 1.35em;
    -webkit-border-radius: 0.3125em 0em 0em 0.3125em;
    -moz-border-radius: 0.3125em 0em 0em 0.3125em;
    border-radius: 0.3125em 0em 0em 0.3125em;
}

.steps > *:last-child {
    -webkit-border-radius: 0em 0.3125em 0.3125em 0em;
    -moz-border-radius: 0em 0.3125em 0.3125em 0em;
    border-radius: 0em 0.3125em 0.3125em 0em;
    margin-right: 0;
}

.steps > *:only-child {
    -webkit-border-radius: 0.3125em;
    -moz-border-radius: 0.3125em;
    border-radius: 0.3125em;
}

.steps > *:last-child:after {
    display: none;
}

/*******************************
         States
*******************************/
/* Hover */
.steps > *:hover,
.steps > *.hover {
    background-color: #f7f7f7;
    color: rgba(0, 0, 0, 0.8);
}

.steps > *.hover:after,
.steps > *:hover:after {
    border-left-color: #f7f7f7;
}

/* Hover */
.steps > *.down,
.steps > *:active {
    background-color: #f0f0f0;
}

.steps > *.down:after,
.steps > *:active:after {
    border-left-color: #f0f0f0;
}

/* Active */
.steps > *.active {
    cursor: auto;
    background-color: #e3342f;
    width: 50%;
    color: #ffffff;
    padding: 14px 0 14px 35px;
}

.steps > *.active:after {
    border-left-color: #555555;
}

/* Now */
.steps > *.now {
    cursor: auto;
    background-color: #e3342f2e;
    color: #ffffff;
    width: 50%;
}

.steps > *.now:after {
    border-left-color: #e3342f;
}

/* Done */
.steps > *.done {
    cursor: auto;
    background-color: #46b98a;
    color: #ffffff;
}

.steps > *.done:after {
    border-left-color: #46b98a;
}

/* Disabled */
.steps > *.disabled {
    cursor: auto;
    background-color: #ffffff;
    color: #cbcbcb;
}

.steps > *.disabled:after {
    border: none;
    background-color: #ffffff;
    top: 0.42em;
    right: -1em;

    width: 2.15em;
    height: 2.15em;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);

    -webkit-box-shadow: -1px -1px 0px 0px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: -1px -1px 0px 0px rgba(0, 0, 0, 0.1) inset;
    box-shadow: -1px -1px 0px 0px rgba(0, 0, 0, 0.1) inset;
}
